<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<title><%= config.title %></title>

<%# css %>
<link rel="stylesheet" href="<%- url_for(theme.stylesheet[0]) %>">

<%# js %>
<script src="<%- url_for(theme.script) %>"></script>