<div class="mtb-2" id="markdown-container">
  <script type="text/javascript" async src="<%= page.mathjax ? theme.mathjax.src : '' %>"></script>
    <div class="content">
        <%- page.content %>
    </div>
</div>